---
layout: archive
---

{{ content }}

<div class="grid__wrapper">
  {%- for section in site.data.cv -%}
    {%- for section_data in section -%}
      <div class="grid__item">
        <h2 class="archive__item-title">{{ section_data[0] | capitalize }}</h2>
        {%- for entry in section_data[1] -%}
          <div class="archive__item-teaser">
            {%- if entry.position -%}
              <h3 class="archive__item-title" itemprop="headline">{{ entry.position }}</h3>
              <p class="page__meta">{{ entry.company }} | {{ entry.year }}</p>
            {%- elsif entry.degree -%}
              <h3 class="archive__item-title" itemprop="headline">{{ entry.degree }}</h3>
              <p class="page__meta">{{ entry.uni }} | {{ entry.year }}</p>
            {%- else -%}
              <h3 class="archive__item-title" itemprop="headline">{{ entry.title }}</h3>
            {%- endif -%}

            {%- if entry.summary -%}
              <p class="archive__item-excerpt">{{ entry.summary }}</p>
            {%- elsif entry.details -%}
               <p class="archive__item-excerpt">{{ entry.details }}</p>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endfor -%}
  {%- endfor -%}
</div>