---
layout: archive
---

{{ content }}

<div class="grid__wrapper">
  {% for item in site.data.cv %}
    {% if item.education %}
      <div class="grid__item">
        <h2 class="archive__item-title">Education</h2>
        {% for entry in item.education %}
          <div class="archive__item-teaser">
            <h3 class="archive__item-title" itemprop="headline">{{ entry.degree }}</h3>
            <p class="page__meta">{{ entry.uni }} | {{ entry.year }}</p>
            <p class="archive__item-excerpt">{{ entry.summary }}</p>
          </div>
        {% endfor %}
      </div>
    {% elsif item.work %}
      <div class="grid__item">
        <h2 class="archive__item-title">Work Experience</h2>
        {% for entry in item.work %}
          <div class="archive__item-teaser">
            <h3 class="archive__item-title" itemprop="headline">{{ entry.position }}</h3>
            <p class="page__meta">{{ entry.company }} | {{ entry.year }}</p>
            <p class="archive__item-excerpt">{{ entry.summary }}</p>
          </div>
        {% endfor %}
      </div>
    {% elsif item.teaching %}
      <div class="grid__item">
        <h2 class="archive__item-title">Teaching</h2>
        {% for entry in item.teaching %}
          <div class="archive__item-teaser">
            <h3 class="archive__item-title" itemprop="headline">{{ entry.title }}</h3>
            <p class="archive__item-excerpt">{{ entry.details }}</p>
          </div>
        {% endfor %}
      </div>
    {% elsif item.projects %}
      <div class="grid__item">
        <h2 class="archive__item-title">Projects</h2>
        {% for entry in item.projects %}
          <div class="archive__item-teaser">
            <h3 class="archive__item-title" itemprop="headline">{{ entry.title }}</h3>
            <p class="page__meta">{{ entry.year }}</p>
            <p class="archive__item-excerpt">{{ entry.details }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>